<header>
<div class="collapse bg-dark" id="navbarHeader">
    <div class="container" data-toggle="collapse" data-target="#navbarHeader">
      <div class="row">
        <div class="col-sm-8 col-md-7 py-4">
          <h4 class="text-white"><a href="#" routerLink="/">Welcome to runfindr.uk</a></h4>
          <p class="text-muted">
              Explore the parkrun world.
              <br />
              Use the magnifying glass to start your search.
          </p>
        </div>
        <div class="col-sm-4 offset-md-1 py-4">
          <h5 class="text-white"><a href="#" routerLink="/map/UK"><fa-icon [styles]="{'color': 'white'}" [icon]="ukIcon"></fa-icon>&nbsp;Explore Maps</a></h5>
          <h5 class="text-white"><a href="#" routerLink="/trumps"><fa-icon [styles]="{'color': 'white'}" [icon]="trumpsIcon"></fa-icon>&nbsp;Runner Trumps</a></h5>
          <h5 class="text-white"><a href="#" routerLink="/special/christmas/uk"><fa-icon [styles]="{'color': 'white'}" [icon]="christmasIcon"></fa-icon>&nbsp;Christmas</a></h5>
          <h5 class="text-white"><a href="#" routerLink="/special/newyear/uk"><fa-icon [styles]="{'color': 'white'}" [icon]="newYearIcon"></fa-icon>&nbsp;New Year</a></h5>
        </div>
      </div>
    </div>
  </div>
  <div class="navbar navbar-custom box-shadow">
    <div class="container">
          <button 
            class="navbar-toggler" 
            type="button" 
            data-toggle="collapse" 
            data-target="#navbarHeader" 
            aria-controls="navbarHeader" 
            aria-expanded="false" 
            aria-label="Toggle navigation">
              <img
                src="/assets/runfindr_icon_hires2.png"
                width="30"
                height="30"
                class="d-inline-block align-top"
                alt=""
              />
              runfindr.uk
            </button>          
          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle filters"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
        
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            
            <app-country-menu *ngIf="showCountries"></app-country-menu>
            <app-athlete-menu *ngIf="showAthletes"></app-athlete-menu>
        
          </div>
          

    </div>
  </div>
</header>