<nav class="navbar navbar-custom navbar-expand-lg">
  <a class="navbar-brand" href="#">
    <img
      src="/assets/runfindr_icon_hires2.png"
      width="30"
      height="30"
      class="d-inline-block align-top"
      alt=""
    />
    runfindr.uk
  </a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    
    <app-country-list></app-country-list>

    <!--
    <form class="form-inline my-2 my-lg-0">
      <input
        class="form-control mr-sm-2"
        type="search"
        placeholder="Search"
        aria-label="Search"
      />
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
        Search
      </button>
    </form>
    -->
  </div>
</nav>
