<div class="jumbotron">
  <div class="container">
      <h1>
        Welcome to runfindr.uk
        <small class="text-muted">
          <br /><fa-icon [icon]="worldIcon"></fa-icon>&nbsp;Explore the running world.
          <br /><fa-icon [icon]="runningIcon"></fa-icon>&nbsp;Search for places to run and people to run with.
        </small>
      </h1>
      <br />
      <div *ngIf="!auth.loggedIn">
        <a class="btn btn-primary btn-lg" href="" role="button" button (click)="auth.login()"><fa-icon [styles]="{'color': 'white'}" [icon]="signInIcon"></fa-icon>&nbsp;Log In</a>
      </div>
      <div *ngIf="auth.loggedIn">
        <a class="btn btn-primary btn-lg" routerLink="profile" role="button" button *ngIf="auth.loggedIn"><fa-icon [styles]="{'color': 'white'}" [icon]="userIcon"></fa-icon>&nbsp;Profile &raquo;</a>
        &nbsp;
        <a class="btn btn-primary btn-lg" routerLink="parkrun" role="button" button *ngIf="auth.loggedIn"><fa-icon [styles]="{'color': 'white'}" [icon]="runningIcon"></fa-icon>&nbsp;parkrun &raquo;</a>
        <br /><br />
        <a class="btn btn-primary btn-lg" href="" role="button" button (click)="auth.logout()" *ngIf="auth.loggedIn"><fa-icon [styles]="{'color': 'white'}" [icon]="signOutIcon"></fa-icon>&nbsp;Log Out</a>
      </div>
      
  </div>
</div>
