<div>
  <p><i>{{mappedEvent.event.longName}}</i></p>
  <p>{{mappedEvent.event.locationName}}</p>
  <li *ngFor="let visitorPair of mappedEvent.visitors | keyvalue">
    {{visitorPair.value.athlete.name}} - {{visitorPair.value.visits.length}} visits since {{visitorPair.value.firstVisit()}} with PB {{visitorPair.value.pb()}}
  </li>
  <br />
  <div *ngIf="mappedEvent.event.cancellations" class="cancellations">
    <p>Cancellations:<p>
    <ul>
      <li *ngFor="let cancellation of mappedEvent.event.cancellations">
        {{cancellation.date}} - {{cancellation.reason}}
      </li>
    </ul>
     <br />
  </div>
  <div *ngIf="mappedEvent.event.specialEventTimes">
    <p>Special events:<p>
    <ul>
      <li>{{country.specialEvent ? country.specialEvent : 'Extra'}} - {{mappedEvent.event.specialEventTimes.extra}}</li>
      <li>New Year - {{mappedEvent.event.specialEventTimes.newyear}}</li>
    </ul>
     <br />
  </div>
  
  <p><a href="{{mappedEvent.event.url}}" target='_parkrun'>Visit event website.</a></p>
</div>
