<div class="trumps-container">
  <div class="card-columns">
    <div class="card bg-light mb-3" (dblclick)="this.removeCard(card.athlete.id)" *ngFor="let card of this.cards">
      <div class="card-image">
        <img class="card-img-top" src="/assets/runfindr_icon_hires2.png" alt="Runner trumps">
        <button class="card-close-btn" (click)="this.removeCard(card.athlete.id)">x</button>
      </div>
      <div class="card-body">
        <h5 class="card-title">{{card.athlete.name}}</h5>
        <table class="trump-values">
          <tr>
            <th>Runs</th>
            <td>{{ card.runCount }}</td>
            <th>Events</th>
            <td>{{ card.eventCount }}</td>
          </tr>
          <tr>
          </tr>
          <tr>
            <th>PB</th>
            <td>{{ card.pb }}</td>  
            <th>Age Grading PB</th>
            <td>{{ card.ageGrading }}</td>
          </tr>
          
          <tr>
            <th>First Run</th>
            <td>{{ card.firstRun }}</td>
            <th>Highest Position</th>
            <td>{{ card.highestPosition }}</td>
          </tr>  
          <tr>
            <th>p-index</th>
            <td>{{ card.pIndex }}</td>
            <th>Wilson index</th>
            <td>{{ card.wilsonIndex }}</td>
          </tr>
          <tr><td colspan=4 class="trumps-barcode">
              <ngx-barcode
              [bc-element-type]="svg" 
              [bc-value]="card.barcodeId" 
              [bc-format]="CODE128" 
              [bc-width]="2" 
              [bc-height]="30" 
              [bc-display-value]="true" 
              [bc-font-options]="" 
              [bc-font]="'monospace'"
              [bc-text-align]="'center'" 
              [bc-text-position]="'bottom'"   
              [bc-margin]="10" 
              [bc-margin-top]="10" 
              [bc-margin-bottom]="10" 
              [bc-margin-left]="10" 
              [bc-margin-right]="10"></ngx-barcode>      
          </td></tr>
        </table>
      </div>
    </div>
  </div>
  <app-trumps-instructions></app-trumps-instructions>
</div>
