.trumps-container {
    padding: 20px;
}

.trumps-barcode {
    text-align: center;
}

.card-title {
    text-align: center;
}

.trump-values {
    width: 100%;
}

.trump-values th {
    font-style: italic;
    font-weight: lighter;
}

.card-body {
    width: 100%;
}

.card-image .card-close-btn {
    position: absolute;
    top: 25px;
    right: 1px;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #aaa;
    color: white;
    font-size: 16px;
    padding: 1px 10px 5px 8px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
}