<div class="trumps-instructions">
  <h2>Instructions</h2>
  <p>Welcome to Runner Trumps! You can use this page to create Top Trump style cards for athletes using their parkrun history.</p>
  <h3>Adding your Trump cards</h3>
  <ul>
    <li>Select athletes using the menu above to add their trump cards (select magnifier -> athletes).</li>
    <li>Select the 'x' on a card to remove it from the view.</li>
    <li>Click the image on the card to add a picture. We support the following types of image:</li>
    <ul>
      <li>Public images from the internet</li>
      <ol>
        <li>Find a public URL for the image you want to import.</li>
        <li>Paste the URL into the input box.</li>
      </ol>
      <li>A facebook profile image found by entering a facebook profile id. To get a facebook profile id:</li>
      <ol>
        <li>Visit <a href="https://lookup-id.com/">https://lookup-id.com/</a> to get the profile id.</li>
        <li>You need to copy in a facebook profile URL such as: <a href="https://www.facebook.com/zuck">https://www.facebook.com/zuck</a></li>
        <li>Copy the id found into the pop-up you see after selecting the image.</li>
      </ol>
    </ul>
  </ul>
  
  <h3>Printing your Trump cards</h3>
  <p>You can get a printable copy of your trump cards here: <a href="/trumps/printable" target="_printable">Printable Cards</a></p>

</div>

