<div class="trumps-instructions">
  <ul>
    <li>Select athletes using the menu above to add their trump cards.</li>
    <li>Double click on a card to remove it from the view.</li>
    <li>Click the image on the card to associate with a facebook profile image by entering the facebook profile id. To get a facebook profile id:</li>
    <ul>
      <li>Visit <a href="https://lookup-id.com/">https://lookup-id.com/</a> to get the profile id.</li>
      <li>You need to copy in a facebook profile URL such as: <a href="https://www.facebook.com/zuck">https://www.facebook.com/zuck</a></li>
      <li>Copy the id found into the pop-up you see after selecting the image.</li>
    </ul>
  </ul>
</div>

