agm-map {
  border-top: 50px solid #fff;
  border-bottom: 20px solid #fff;
  height : 85vh;
  width: 100%;
}

.map-settings {
  position: absolute;
  top: 80px;
  right: 1px;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #aaa;
  color: white;
  font-size: 16px;
  padding: 1px 10px 5px 8px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
}