<div class="map-container container-fluid">
    <app-agm-container #agmMap [selectedCountry]="selectedCountry" [athlete]="athlete" [compareAthletes]="compareAthletes" [mapSettings]="mapSettings"></app-agm-container>
    <div class="map-settings">
        <fa-stack>
            <fa-icon [styles]="{'color': '#eaaa00'}" [icon]="backIcon" stackItemSize="2x" (click)="this.showSettings()"></fa-icon>
            <fa-icon [styles]="{'color': 'white'}" [icon]="settingsIcon" stackItemSize="1x" (click)="this.showSettings()"></fa-icon>
        </fa-stack>
        <br />
        <fa-stack *ngIf="athlete">
            <fa-icon [styles]="{'color': '#eaaa00'}" [icon]="backIcon" stackItemSize="2x" (click)="this.showAthlete()"></fa-icon>
            <fa-icon [styles]="{'color': 'white'}" [icon]="athletesIcon" stackItemSize="1x" (click)="this.showAthlete()"></fa-icon>
        </fa-stack>
    </div>
</div>

<ng-template #athleteOverlay>
  <div class="example-dialog-content" cdkDrag cdkDragRootElement=".cdk-overlay-pane">
    <app-map-athlete-overlay [athlete]="athlete" (closeOverlay)="this.closeAthlete()"></app-map-athlete-overlay>
  </div>
</ng-template>
