<ul class="navbar-nav mr-auto">

  <li class="nav-item dropdown">
    <a
      class="nav-link dropdown-toggle"
      href="#"
      id="navbarDropdown"
      role="button"
      data-toggle="dropdown"
      aria-haspopup="true"
      aria-expanded="false"
    >
      <span class="nav-label" id="athleteName">Athlete</span>
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">

      <form name="searchAthlete" class="px-4 py-2">  
        <small>Search by athlete id...</small>
        <div class="input-group">
            <p>A</p>
            <input type="number" class="form-control" id="searchAthleteId" autofocus="autofocus" [formControl]="athleteSearchControl">  
            <span class="input-group-btn">
                <button class="btn btn-primary" type="button" (click)="searchAthlete()">Go!</button>
            </span>
        </div>
      </form>
        
      <div class="dropdown-divider"></div>
      <form name="compare" class="px-4 py-2">  
        <div class="input-group">
          <mat-slide-toggle class="athlete-setting" [formControl]="compareAthleteControl">Compare athletes</mat-slide-toggle>
        </div>
      </form>
      <a class="dropdown-item" [routerLink]="" *ngFor="let athleteKey of this.compareAthletes" (click)="removeCompareAthlete(athleteKey.id)">{{athleteKey.name}} (A{{athleteKey.id}})</a>
      
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" [routerLink]="" *ngFor="let athleteKey of this.visiableRecentAthletes" (click)="selectAthlete(athleteKey.id)">{{athleteKey.name}} (A{{athleteKey.id}})</a>
    </div>
  </li>
</ul>