<ul class="navbar-nav mr-auto">

  <li class="nav-item dropdown">
    <a
      class="nav-link dropdown-toggle"
      href="#"
      id="navbarDropdown"
      role="button"
      data-toggle="dropdown"
      aria-haspopup="true"
      aria-expanded="false"
    >
      <span class="nav-label" id="athleteName">Athlete</span>
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <form class="px-4 py-2">
            <input type="search" class="form-control" id="searchAthlete" autofocus="autofocus">
        </form>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" routerLink="/map/{{country.name}}" *ngFor="let country of this.countries">{{country.name}}</a>
    </div>
  </li>
</ul>