

    /* change the link color */
    .nav-link, 
    .nav-label {
    color: rgba(255, 255, 255, 0.8);
    }
  
    /* change the color of active or hovered links */
    .nav-link.active,
    .nav-link:hover,
    .nav-label.active,
    .nav-label:hover {
    color: #ffffff;
    }

    #searchAthleteId {
        min-width: 100px;
    }

    .dropdown-menu {
        min-width: 250px !important;
    }

    .input-group p {
        padding: 5px 10px 5px 0px;
    }
